<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <h1>配送先編集</h1>
            <table>
                <%= form_with model: @address,url:  public_addresses_path, local:true do |f| %>
                <tr>
                  <th>郵便番号（ハイフンなし）</th>
                  <td><%= f.text_field :postal_code, autofocus: true %></td>
                </tr>
                <tr>
                  <th>住所</th>
                  <td><%= f.text_field :address, autofocus: true %></td>
                </tr>
                <tr>
                  <th>宛名</th>
                  <td><%= f.text_field :name, autofocus: true %></td>
                  <td><%= f.submit "変更内容を保存", class:"btn btn-success pull-right" %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>