<div class="container-fluid">
  <table class="table table-bordered">
    <h4>ショッピングカート</h4>
    <thead>
      <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= attachment_image_tag cart_item.item_image, :image, :fill, 50, 50 %></td>
          <td><%= cart_item.item_image.name %></td>
          <td><%= cart_item.item_image.price %></td>
          <td>
            <%= form_with model:cart_item,url: public_cart_item_path(cart_item), local: true do |f| %>
            <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
            <%= f.submit "変更", class:"btn btn-success" %>
            <% end %>
          </td>
          <td>
            <%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tobody>
  </table>
  <div class="row">
    <div class="col-3">
      <%= link_to "買い物を続ける", public_items_path, class:"btn btn-primary" %>
    </div>
    <div class="col-3 ml-auto">
      <table class="table table-bordered">
        <tbody>
          <td>合計金額</td>
          <td><%= @total %></td>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to "情報入力に進む", new_public_order_path, class:"btn btn-success" %>
  </div>
</div>
