<div class="container">
  <div class="row">
    <div class="col-lg-13">
      <h3>注文履歴一覧</h3>
       <table class="table table-borderd">
         <thread>
           <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
           </tr>
         </thread>
         <tbody>
          <% @orders.each do |order| %>
          <% @sum = 0 %>
            <tr>
              <td><%= order.created_at %></td>
              <td><%= order.address %></td>
              <td><% order.order_details. each do |order_detail| %>
                  <%= order_detail.item_image.name %></br>
                  <% @sum += order_detail.item_image.price.to_i * order_detail.amount.to_i %>
                  <% end %>
              </td>
              <td><%= @sum + 800 %></td>
              <td><%= order.status %></td>
              <td><%= link_to "表示する", public_order_path(order) %></td>
            </tr>
          <% end %>
         </tbody>
       </table>
    </div>
  </div>
</div>