<div class="container">
 <h3>注文情報入力</h3>
 <h4>支払方法</h4>
  <%= form_with model:@order,url: public_orders_confirm_path, local:true do |f| %>
  <h4><%= f.radio_button :payment_method, "クレジットカード" %>クレジットカード</h4>
  <h4><%= f.radio_button :payment_method, "銀行振込" %>銀行振込</h4>
 <h4>お届け先</h4>
  <label><%= f.radio_button :address_select, 0 %><%= f.label :ご自身の住所 %></label>
  <p><%= current_public.address %></p>
  <label><%= f.radio_button :address_select, 1 %><%= f.label :登録済み住所から選択 %></label>
  <p><%= f.collection_select(:address_id, @addresses, :id, :address) %></p>
  <label><%= f.radio_button :address_select, 2 %><%= f.label :新しいお届け先 %></label>
  <div>
   <p>
    <%= f.label :"郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code %>
   </p>
   <p>
    <%= f.label :"住所" %>
    　　　　　　　　　　<%= f.text_field :address %>
   </p>
   <p>
    <%= f.label :"宛名" %>
    　　　　　　　　　　<%= f.text_field :name %>
   </p>
   　　　　　　　　　　　　　　　　　　　　<%= f.submit "購入確認へ進む", class:"btn btn-primary" %>
  </div>
  <% end %>
</div>